@model IEnumerable<Project_Railways.Models.Train>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Schedule", "Index","SCHEDULEs")</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.train_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seat_capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.general_quota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ladies_quota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.train_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seat_capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.general_quota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ladies_quota)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.train_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.train_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.train_id })
        </td>
    </tr>
}

</table>
